.header {
    background: #fff;
    overflow: hidden;
    height: 66px;
    border-bottom: 1px solid #ddd;
    .headerRow {
        height: 100%;
    }
    .header-logo {
        text-align: left;
    }
    .ant-menu {
        line-height: 66px;
    }
    .searchCol {
        display: flex;
        align-items: center;
    }
}